.btn-success {
  --bs-btn-bg: #0e8a00;
  --bs-btn-border-color: #0e8a00;
  --bs-btn-hover-bg: #0D7C00;
  --bs-btn-hover-border-color: #0D7C00;
  --bs-btn-active-bg: #0D7C00;
  --bs-btn-active-border-color: #0D7C00;
  --bs-btn-disabled-bg: #0e8a00;
  --bs-btn-disabled-border-color: #0e8a00;
}